:root {
	--primerry-text-color: #212121;
	--primerry-bg-color: #ffffff;
	--title-text-color: #757575;
	--accent-color: #2196f3;
}

body {
	margin: 0px;

	background-color: #ffffff;
	color: var(--primerry-text-color);
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
}

ul,
ol {
	margin: 0px;
	padding: 0px;
}

img {
	display: block;
}

address {
	font-style: normal;
}

/* a {
	text-decoration: none;
} */

.container {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
	/* outline: 2px solid teal; */
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
}

/* header */

.page-header {
	background: var(--primerry-bg-color);
	border-bottom: 1px solid #ececec;

	padding-top: 24px;
	padding-bottom: 25px;
}

/* logo */
.logo {
	color: var(--accent-color);
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;

	margin-right: 93px;
	text-decoration: none;
}

.logo-part-two {
	color: var(--primerry-text-color);
}

/* site nav */
.nav-container {
	display: flex;
	align-items: center;
}
/* 
.contacts-container .link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
} */

.nav {
	display: flex;
	text-align: center;
}

.contacts-container {
	/* display: inline-block; */
	display: flex;
	list-style: none;
	text-align: center;
	margin-left: auto;
	align-items: center;
}
/* .description-title::before {
	display: block;
	content: "";
	/* width: 70px; */
/* height: 120px;
	background: rgba(245, 244, 250, 1);
	border-radius: 4px; */
/* background-image: url(../svg/antena.svg); */
/* background-size: contain; */
/* background-repeat: no-repeat;
	background-position: center;
} */

/* .description-title:nth-child(1)::before {
	background-image: url("../svg/antena.svg");
} */
.mail::before {
	display: inline-block;
	content: "";
	width: 16px;
	height: 12px;
	/* background: rgba(117, 117, 117, 1); */
	/* outline: 1px solid red; */
	background-size: contain;
	background-position: center;
	margin-right: 10px;
}

.mail::before {
	background-image: url("../svg/mail.svg");
}

.tel::before {
	display: inline-block;
	content: "";
	width: 10px;
	height: 16px;
	background-position: center;
	margin-right: 10px;
}

.tel::before {
	background-image: url("../svg/smartphone.svg");
}

.tel::before:hover {
	background: var(--accent-color);
}
.item .mail::before:hover {
	background: var(--accent-color);
}

.site-nav {
	display: flex;
	list-style: none;
}

.site-nav .link {
	display: flex;
	/* display: block; */

	color: var(--primerry-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}

.contacts-container .item + .item {
	margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

.contacts-link {
	/* display: flex; */
	display: inline-block;
	color: var(--title-text-color);
	text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
}

/* hero */

.hero-section {
	width: 100%;
	/* max-width: 1600px; */
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	background: #c4c4c4;

	/* background-image: linear-gradient(to right rgba(47, 48, 58, 0.4)); */
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)), url("../image/heropage.jpg");
	/* background-image: url("../image/heropage.jpg"); */

	/* background-repeat: no-repeat;
	background-position: center;
	background-size: cover; */

	padding-top: 200px;
	padding-bottom: 200px;

	text-align: center;
}

/* .hero {
} */
.hero-title {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;

	color: var(--primerry-bg-color);
}

.page-hero {
	background: var(--accent-color);
	color: var(--primerry-bg-color);
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-align: center;

	min-width: 200px;
	min-height: 50px;
	border-radius: 4%;
	padding: 10px 32px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0;
}

/* features  */

.list-title {
	display: flex;
	margin-left: -30px;
	list-style: none;
}

/* ::before {
	padding: 25px 25px;
} */

.description-title::before {
	display: block;
	content: "";
	/* width: 70px; */
	height: 120px;
	background: rgba(245, 244, 250, 1);
	border-radius: 4px;
	/* background-image: url(../svg/antena.svg); */
	/* background-size: contain; */
	background-repeat: no-repeat;
	background-position: center;
}

.description-title:nth-child(1)::before {
	background-image: url("../svg/antena.svg");
}

.description-title:nth-child(2)::before {
	background-image: url("../svg/clock.svg");
}

.description-title:nth-child(3)::before {
	background-image: url("../svg/diagram.svg");
}

.description-title:nth-child(4)::before {
	background-image: url("../svg/astronaut.svg");
}

.description-title {
	margin-left: 30px;
	flex-basis: calc(100% / 4 - 30px);
}
.features-title {
	margin-top: 30px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.features-title-text {
	margin-top: 10px;
	color: var(--title-text-color);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* Work  */
.work {
	padding-top: 0px;
}

.section-title {
	margin-bottom: 50px;

	font-weight: bold;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.works-title {
	margin-left: 30px;
	flex-basis: calc(100% / 3 - 30px);
}

/* our-team */
.our-team {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title-team {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.list-title-team {
	display: flex;
	margin-left: -30px;
	list-style: none;
}

.item-team {
	margin-top: 50px;
	margin-left: 30px;
	flex-basis: calc(100% / 4 - 30px);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-title {
	margin-top: 30px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	text-align: center;
}

.team-title-text {
	margin-top: 10px;
	padding-bottom: 30px;

	color: var(--title-text-color);
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	text-align: center;
}

/* our clients */

.list-title-clients {
	display: flex;
	margin-left: -30px;
	list-style: none;
}

.clients {
	margin-left: 30px;
	border: 1px solid rgba(175, 177, 184, 1);
	border-radius: 6%;
	width: calc(100% / 6 - 30px);
}

.clients::before {
	display: inline-block;
	content: "";
	width: 170px;
	height: 90px;
	text-align: center;
	/* background-size: contain; */
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.clients:nth-child(1)::before {
	background-image: url("../svg/client1.svg");
}
.clients:nth-child(2)::before {
	background-image: url("../svg/client2.svg");
}

.clients:nth-child(3)::before {
	background-image: url("../svg/client3.svg");
}
.clients:nth-child(4)::before {
	background-image: url("../svg/client4.svg");
}
.clients:nth-child(5)::before {
	background-image: url("../svg/client5.svg");
}
.clients:nth-child(6)::before {
	background-image: url("../svg/client6.svg");
}

/* .our::before {
	background-image: url("../svg/сlient1.svg");
} */

/* Footer */

/* .bottom-line {
	display: block;
} */

.footer-list {
	display: flexbox;

	list-style: none;
	padding-left: 0px;
}

footer {
	background: #2f303a;
}

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
}

.bottom-line {
	display: flex;
}

.logo-f {
	display: block;

	color: var(--accent-color);
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;

	margin-bottom: 20px;
}

.logo-footer {
	color: var(--primerry-bg-color);
	text-decoration: none;
}

.address-style {
	color: var(--primerry-bg-color);
}

.footer-title {
	font-size: 14px;
	line-height: 1.71;

	padding-bottom: 10px;
}

.footer-link {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;

	margin-left: 0px;
}

.footer-address {
	color: var(--primerry-bg-color);
	text-decoration: none;
}

/* Join */

.join {
	display: block;
	flex-direction: row;
	width: 206px;
	/* height: 76px; */
	margin-left: 70px;
	/* outline: 1px solid red; */

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14%;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
}
.join-title {
	display: block;
	padding-top: 25px;
	text-align: center;
}

.join-list {
	display: flex;
	margin-top: 16px;
	list-style: none;
}

.link-logo {
	display: inline-flex;
}

.join-icon::before {
	display: inline-block;
	content: "";
	width: 44px;
	height: 44px;
	margin-right: 10px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	/* background: rgba(117, 117, 117, 1); */
	/* outline: 1px solid red; */
	/* background-size: contain; */
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-right: 10px;
}

.join-icon:nth-child(1)::before {
	background-image: url("../svg/instagram.svg");
}
.join-icon:nth-child(2)::before {
	background-image: url("../svg/twiter.svg");
}

.join-icon:nth-child(3)::before {
	background-image: url("../svg/facebook.svg");
}
.join-icon:nth-child(4)::before {
	background-image: url("../svg/linkedin.svg");
}

/* Portfolio */

.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

.list-title-filters {
	display: flex;
	flex-wrap: wrap;

	margin-top: 50px;
	margin-right: -30px;
	margin-bottom: -30px;
	list-style: none;
}

.list-title-projects {
	margin-right: 30px;
	margin-bottom: 30px;

	/*  Задаём ширину элементов  */
	flex-basis: calc(100% / 3 - 30px);
	background-color: #fff;
}

.projects-description {
	border-right: 1px solid rgba(238, 238, 238, 0.8);
	border-bottom: 1px solid rgba(238, 238, 238, 0.8);
	border-left: 1px solid rgba(238, 238, 238, 0.8);

	padding: 24px 20px;
}

/* .list-title-projects:nth-child(3n) {
	margin-right: 0px;
}

.list-title-projects:nth-last-child(-n + 3) {
	margin-bottom: 0px;
} */

.filters-line {
	outline: none;
	text-align: center;
}

.portfolio-btn {
	border: 0;
	padding: 0;

	background: #f5f4fa;
	color: var(--primerry-text-color);

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-decoration: none;

	padding: 6px 22px;
	border-radius: 4px;
	min-width: 78px;
	min-height: 38px;
	text-align: center;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	background: var(--accent-color);
	color: var(--primerry-bg-color);
}

/* Projects */

.projects-title {
	padding-bottom: 5px;

	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.type-projects {
	font-size: 16px;
	line-height: 1.87;
}
